*,*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center; /* Горизонтальное выравнивание */
  align-items: center;     /* Вертикальное выравнивание */
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
  inline-size: 1px;
  block-size: 1px;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

/* Основные стили контента */
.content {
  display: flex;
  flex-direction: row;
  align-items: flex-end; /* Прижимаем элементы к низу */
  width: 1140px; 
  padding: 133px 30px;
  gap: 30px; /* Расстояние между элементами */
}

/* Секция результата */
.result {
  width: 711px;
  margin-right: auto; /* Прижимает к левому краю */
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  object-fit: cover;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Детали контента */
.content__details {
  display: flex;
  flex-direction: column;
  width: 399px;
  flex-grow: 1;
  padding-top: 26px;/* отступ между заголовком и карточками */
}

.title {
  font-family: 'Oswald';
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  padding: 0px 140px 0px 0px;
}

.content__accent {
  color: rgba(255, 255, 255, 0.3);
}

.content__list-container {
  display: grid;
  height: 298px;/* Жесткая высота */
  overflow-y: auto;/* Скролл при переполнении */
  overflow-x: hidden; /* убран нижний скролл */
  margin-top: 20px;/* дополнительный отступ */ 
  gap: 30px;
  position: relative;
}

.content__list {
  display: grid;
  gap: 30px;
}

/* Стили карточек */
.content__list-item {
  padding: 0 3px;
  cursor: pointer;
}

.content__list-item:active {
  background: #545050;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content__video-card-description-container {
  flex-grow: 1;
  width: 159px;
}

.content__video-card-thumbnail {
  min-width: 204px;
  height: 103px;
  object-fit: cover;
  object-position: 10px top;
}

.content__video-card-title {
  width: 196px; /* Ограничение по ширине */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  font-family: 'Oswald';
}

.content__video-card-description {
  line-height: 16.2px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 6px 0 0 1px;
  padding: 0;
  max-width: 100%;
  letter-spacing: 0.1px;
}

/* Стили ссылок */
.content__card-link {
  display: block;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.content__card-link_current {
  background-color: #1B1919;
}

/* Активное состояние */
.content__card-link:active,
.content__list-item:active {
  background-color: #545050;
}

/* Подчеркивание при наведении */
.content__card-link:hover,
.content__list-item:hover {
  text-decoration: underline;
}

/* Фокус состояние */
.content__card-link:focus-visible,
.content__list-item:focus-visible {
  outline: 2px solid #fff;
  outline-offset: 2px;
}

/* Форма поиска */
.search-form {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.search-form__fieldset {
  margin: 0;
  border: none;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 7px;
  align-items: center;
  width: 212px;
}

.search-form__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 3px;
  padding: 1px;
  cursor: pointer;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label:has(:focus-visible) {
  outline: 2px solid #fff;
  outline-offset: 2px;
}

.search-form__checkbox:focus-visible + .search-form__pseudo-checkbox {
  outline: none;
}

.search-form__label:has(.search-form__checkbox):focus-visible {
  outline: 2px solid #fff;
  outline-offset: 2px;
}

.search-form__textfield {
  width: 100%;
  padding: 2px 0;
  border: none;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  font-family: inherit;
  font-size: 18px;
  color: #fff;
  background-color: transparent;
  appearance: none;
  outline: none;
  cursor: pointer;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__label:has(.search-form__textfield) {
  width: 225px;
}

/* Подчеркивание при наведении на поле ввода */
.search-form__textfield:hover {
  border-bottom: 1px solid #fff;
  /*text-decoration: underline;*/
}

.search-form__textfield:active {
  text-decoration: none;
}

/* Фокус состояние для поля ввода */
.search-form__textfield:focus-visible {
  outline: none;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  background-color: transparent;
  border: 1px solid #ffffff;
  vertical-align: middle;
  margin-right: 8px;
  transition: background-color 0.2s ease;
  cursor: pointer;
  position: relative;
}

/* Стиль для активного состояния (при нажатии) */
.search-form__label:active .search-form__pseudo-checkbox {
  background-color: #ffffff;
  border: 1px solid #ffffff;
}

.search-form__label:active .search-form__pseudo-checkbox::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  border: 1px solid #000;
}

/* Стиль для отмеченного состояния */
.search-form__checkbox:checked + .search-form__pseudo-checkbox {
  background-color: #ffffff;
  border: 1px solid #ffffff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  border: 1px solid #000;
}

.search-form__label:active:has(.search-form__textfield) {
  outline: none;
}

.search-form__label:has(.search-form__checkbox):focus-visible {
  outline: 2px solid #fff;
  outline-offset: 2px;
}

/* Стили кнопок */
.button {
  border: 1px solid #fff;
  color: #fff;
  font-family: inherit;
  font-size: 16px;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
}

/* Состояния кнопок */
.button:hover {
  text-decoration: underline;
}

.button:active {
  color: #545050;
}

.search-button:active {
  background: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
}

.button:disabled {
  cursor: default; /* Для disabled кнопки оставляем стандартный курсор */
}

/* Индивидуальные стили для кнопки "Найти" */
.search-form__submit-button {
  align-self: end;
  width: 100%;
  max-width: 194px;
  height: 34px;
}

.search-form__submit-button:active {
  background: #545050;
  color: #fff;
}

.search-form__submit-button:focus-visible {
  outline: 2px solid #fff;
  outline-offset: 2px;
}

/* Индивидуальные стили для кнопки "Показать ещё" */
.more-button {
  width: 100%;
  height: 34px;
}

/* Прелоадер */
.preloader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

/* Кастомный скроллбар */
.content__list-container::-webkit-scrollbar {
  width: 4px;
}

.content__list-container::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.content__list-container::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}